%h1= t '.title'
%p
  = link_to t('back'), profiles_path
  = link_to t('edit'), edit_profile_path(@profile)

%dl
  %dt= Profile.human_attribute_name :name
  %dd= @profile.name
  %dt= Profile.human_attribute_name :user_id
  %dd= @profile.user_id
  %dt= Profile.human_attribute_name :twitter
  %dd= @profile.twitter
  %dt= Profile.human_attribute_name :phone
  %dd= @profile.phone
