.form
  = form_for @note, :url => account_note_path(@account, @note) do |f|
    - if @note.errors.any?
      #errorExplanation
        %h2= "#{pluralize(@note.errors.count, 'error')} prohibited this user from being saved:"
        %ul
        - @note.errors.full_messages.each do |msg|
          %li= msg
    .label= f.label :content, "Message"
    .field= f.text_field :content
    = f.submit :class => :button
  %br.clear
