.form
  - form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    .label= f.label :email
    .field= f.text_field :email
    .label= f.label :password
    .field= f.password_field :password
    .label= f.label :password_confirmation
    .field= f.password_field :password_confirmation
    = f.submit "Sign up", :class => :button
  %br.clear
