.form
  = form_for @todo, :url => account_todos_path(@account) do |f|
    - if @todo.errors.any?
      #errorExplanation
        %h2= "#{pluralize(@todo.errors.count, 'error')} prohibited this user from being saved:"
        %ul
        - @todo.errors.full_messages.each do |msg|
          %li= msg
    = f.radio_button :type, :me 
    = label_tag :type_me, "I need to do this." 
    = f.radio_button :type, :you 
    = f.label :type_you, "#{@account.friend(current_user).name} needs to do this." 
    = f.radio_button :type, :we 
    = label_tag :type_we, "Both of us." 
    = f.radio_button :type, :either
    = label_tag :type_either, "Either of us." 

    .field= f.text_field :task
    = f.submit :class => :button
  %br.clear
