- if todo.users.include? current_user
  .todo.unfinished
    = link_to "Done", complete_todo_path(@account, todo), :class => 'link_button right'
    You need to #{todo.task}.
- elsif todo.users.blank?
  .todo.finished
    #{todo.task} 
- else
  .todo.pending
    #{@account.friend(current_user).name.split[0]} still needs to #{todo.task}. 
