.todo
  - if todo.users.include? current_user
    = button_to "✓", complete_todo_path(@account, todo), :class => 'link_button right'
    You need to #{todo.task}.
  - elsif todo.users.blank?
    #{todo.task}
  - else
    #{@account.friend(current_user).name.split[0]} still needs to #{todo.task}. 
