!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @page_title || 'Harmony'
    = stylesheet_link_tag 'harmony'
    = csrf_meta_tag 
  %body       
    %p.notice= notice 
    %p.alert= alert
    .main= yield
