%h1 Account!

.account
  .info
    .user
      = image_tag avatar_url(current_user)
      = current_user.profile.name || ''
    .friend
      = image_tag avatar_url(@friend)
      = @friend.profile.name || ''
    %br.clear
  .feed
    %ul 
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
  .widgets
    .notes
      %span Notes
      = link_to 'New Note', new_account_note_path(@account)
      = render :partial => 'notes/note', :collection => @notes 
    .todo
      %span Things to do.
      %ul
        %li OMG You need to do this!
        %li OMG You need to do this!
        %li OMG You need to do this!
        %li OMG You need to do this!
    .list
      %span Things to bring.
      %ul
        %li OMG You need to bring this!
        %li OMG You need to bring this!
        %li OMG You need to bring this!
        %li OMG You need to bring this!
  %br.clear 

  


