.account
  .info
    .user
      = render :partial => 'user', :locals => { :user => current_user }
    .friend
      = render :partial => 'user', :locals => { :user => @friend }
    %br.clear
  .feed
    %h3 Event Feed
    = link_to 'New Note', new_account_note_path(@account), :rel => 'facebox'
    = render :partial => 'events/event', :collection => @events
  .widgets
    .todos
      %span Things to do.
      = link_to 'I have something you need to do.', new_account_todo_path(@account), :rel => 'facebox'
      = render :partial => 'todos/todo', :collection => @mine
      = render :partial => 'todos/todo', :collection => @theirs
      = render :partial => 'todos/todo', :collection => @finished
    = render :partial => 'lists/list', :collection => @lists
  %br.clear 
